<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/" method="post">
        <div>
            <label>Name: <input type="text" name="repoName" value="@Model.RepoName" /></label>
        </div>
        <div>
            <input type="submit" value="Add" />
        </div>
        @If.IsError
        <p style="color:#f00;">@Model.ErrorMessage</p>
        @EndIf
        @If.IsSuccess
        <p style="color:#0c0;">@Model.RepoName added successfully!</p>
        @EndIf
        @If.HasRepositories
        <div style="margin-top:20px;">
            <ul>
                @Each.Repositories
                <li>@Current</li>
                @EndEach
            </ul>
        </div>
        @EndIf
    </form>
</body>
</html>