<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SvnLocation" value="C:\Utilities\SVN"/>
    <add key="Manager.EventSourceName" value="SvnManagerService"/>
    <add key="Manager.InterfaceUrlHost" value="mgr.win-svn.dev"/>
    <add key="Manager.InterfaceUrlPort" value="9664"/>
    <add key="Manager.InterfaceUrlHttps" value="True"/>
    <add key="Manager.RepoPath" value="C:\Repositories"/>
    <add key="Manager.SendEmailFrom" value=""/>
    <add key="Manager.SendErrorsTo" value=""/>
    <add key="Backups.S3AccessKey" value=""/>
    <add key="Backups.S3SecretKey" value=""/>
    <add key="Backups.S3BucketName" value=""/>
    <!-- Size (in MB) of each part in a multipart upload -->
    <add key="Backups.S3PartSize" value="100"/>
    <add key="Backups.BackupLoaction" value="C:\Users\Public\Documents\SVN Manager Service\Backup"/>
    <add key="Backups.DaysBetweenBackups" value="7"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network host="" enableSsl="true" port="587" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>